[submodule "animeko"]
	path = animeko
	url = git@github.com:NihilDigit/animeko.git
	branch = woa
[submodule "anitorrent"]
	path = anitorrent
	url = git@github.com:NihilDigit/anitorrent.git
	branch = pr/windows-arm64-native-runtime
