[submodule "animeko"]
	path = animeko
	url = git@github.com:NihilDigit/animeko.git
	branch = woa
[submodule "mediamp"]
	path = mediamp
	url = git@github.com:NihilDigit/mediamp.git
	branch = woa
[submodule "anitorrent"]
	path = anitorrent
	url = git@github.com:NihilDigit/anitorrent.git
	branch = woa
